body { background-color: #F5F5F5; color: #333332; margin: 10px; padding: 0px; font-family: 'Roboto', sans-serif; height: 15000px; overflow: hidden }
body.loaded { height: auto; overflow: auto }

h1, h2, h3, h4 { font-family: 'Roboto', sans-serif; font-weight: normal; margin: 0px; padding: 0px }
h1 { font-size: 32px; line-height: 1.2em; font-weight: bold; letter-spacing: -0.5px; margin-bottom: 5px }
h2 { font-weight: bold; font-size: 1.2em }
h3 { font-size: 24px; margin-top: 2em }

p { margin-top: 0.9em; margin-bottom: 0.9em }
hr { margin: 20px 0px; border: none; border-bottom: 1px solid #eee; margin-left: auto; margin-right: auto; width: 120px; }
small { font-size: 80%; color: #999; }

a { text-decoration: none; color: #DB3207 }
a:hover { border-bottom: 0.1em solid #DDD }
a:active { border-bottom: 0.1em solid #333 }
a.nolink { border-bottom: none }
a.nolink:hover { border-bottom: none }
a.nolink:active { border-bottom: none }

.cancel { font-size: 80%; color: #999; margin-left: 10px; }

.template { display: none !important }

.link:hover { border-bottom: none }
.link:hover .link-url { border-bottom: 0.1em solid #DDD; color: #333 }
.link:hover .icon-link { opacity: 1 }
.link:active .link-url { border-bottom: 0.1em solid #333 }

.username { font-weight: bold; color: #666 }
.userbullet { color: #AAA; }

/*.center { margin-left: auto; margin-right: auto; max-width: 800px }*/
.center { max-width: 900px; float: left; width: 100%; }


/* Input */
input.text, textarea { 
	line-height: 1.5em; width: 100%; padding: 10px; font-family: 'Roboto', sans-serif; font-size: 16px;
	transition: border 0.3s; border: 2px solid #eee; box-sizing: border-box;
}
textarea { overflow-y: auto }
input.text:focus, textarea:focus { border-color: #5FC0EA; outline: none; background-color: white }


/* Button */

.button { 
	padding: 5px 10px; background-color: #DDE0E0; border-bottom: 2px solid #999998; background-position: left center; 
	border-radius: 2px ; text-decoration: none; transition: all 0.5s ease-out ; color: #333; display: inline-block
}
.button:hover { background-color: #FFF400; border-color: white; border-bottom: 2px solid #4D4D4C; transition: none ; color: inherit }
.button:active { position: relative; top: 1px }

/*.button-delete { background-color: #e74c3c; border-bottom-color: #A83F34; color: white }*/
.button-outline { background-color: white; color: #DDD; border: 1px solid #eee }

.button-delete:hover { background-color: #FF5442; border: 1px solid #FF5442; color: white } 
.button-ok:hover { background-color: #27AE60; border: 1px solid #27AE60; color: white } 
.button-submit { background-color: #FFF85F;border-bottom: 2px solid #CDBD1E;  padding: 5px 15px; font-size: 15px; line-height: 30px }
.button-small { padding: 5px 10px; font-size: 12px; line-height: 16px }

.button.loading { 
	color: rgba(0,0,0,0); background: #999 url(../img/loading.gif) no-repeat center center; 
	transition: all 0.5s ease-out ; pointer-events: none; border-bottom: 2px solid #666
} 


/* Head */
.head { float: left; padding-right: 20px; margin-bottom: 10px }
.head .logo { 
	background-color: #DB3207; display: inline-block; padding: 13px; margin-left: -10px;
	color: rgba(255,255,255,1); font-size: 20px; text-transform: uppercase; line-height: 1em; font-family: consolas, monospace
}
.head-user { 
	display: inline-block; background-color: white; height: 66px; vertical-align: bottom;
	padding: 12px 15px; box-sizing: border-box; margin-left: -4px; font-size: 13px; line-height: 17px;
}
.head .button { margin-top: 2px }
.head .size { font-size: 8px; background-color: #eee; width: 100px; margin-top: 6px; box-sizing: border-box; text-indent: 21px; text-transform: uppercase; color: #999 }
.head .size-used { position: absolute; background-color: #1abc9c; color: white; overflow: hidden; width: 0px; white-space: nowrap }


/* Topics */
.topics-title { line-height: 1.2em; font-weight: lighter; margin-bottom: 9px; padding-top: 7px; font-size: 45px; padding-left: 22px; display: inline-block; width: 100%; box-sizing: border-box }
.topic-new { overflow: hidden; backface-visibility: hidden }
.topic-new-link { 
	float: right; margin-top: -46px; margin-right: 1px; color: #AAA; padding: 6px 10px; white-space: nowrap; 
	overflow: hidden; background-color: rgba(245,245,245,0.9); z-index: 1; position: relative; transition: all 0.3s 
}
.topic-new-link:hover { color: #DB3207; transition: none }

.topic { background-color: white; padding: 15px 25px; margin: 1px; padding-left: 110px }
.topic .image { position: absolute; margin-left: -72px; margin-top: 5px; opacity: 0.3 }
.topic .title { padding-bottom: 4px }
.topic .title input { color: #DB3207; font-weight: bold; font-size: 1em }
.topic .owner { font-size: 12px; color: #BBB }
.topic .body { line-height: 1.5em; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
.topic .body p { margin: 0px }
.topic .link { font-size: 13px; color: #AAA; margin-bottom: 7px }
.topic .info { font-size: 12px; color: #AAA; margin-bottom: 7px }
.topic .info span { font-weight: bold }
.topic .comment-num { font-weight: bold; color: #666; border-bottom: 1px solid #AAA }
.topic .comment-num:hover { border-bottom: 1px solid #333 }

.topic .dot { margin-left: -100px; font-size: 40px; line-height: 57px; color: white; position: absolute; }
.topic.visit-none .dot { color: #E2E2E2 }
.topic.visit-newcomment .dot { color: #74BBFE }

.topics { margin-bottom: 60px; opacity: 0; transition: opacity 0.3s }
.topics .body { max-height: 1.5em; }
.topics .body ul { margin: 0px }
.topics-loading { 
	background-color: #DB3207; padding: 5px 14px; display: inline-block; color: white; 
	position: absolute; left: 50%; top: -30px; transition: all 0.3s 
}
.topics-loading img { opacity: 0.5; margin-right: 10px }

.topic-full { border-left: 2px solid #DB3207; display: inline-block; width: 100%; box-sizing: border-box; margin-bottom: 10px; opacity: 0; transition: opacity 0.3s }
.topic-full .body { white-space: normal }


/* Messages */
.comments { margin-bottom: 60px }
.comment { background-color: white; padding: 15px 25px; margin: 1px }
.comment .username { font-size: 14px }
.comment .info { font-size: 12px; color: #AAA; margin-bottom: 7px }
.comment .body { line-height: 1.5em }
.comment .body p { margin-top: 0.5em; margin-bottom: 0.5em }
.comment .body.editor { margin-top: 0.5em !important; margin-bottom: 0.5em !important }
.comment .body h1, .comment .body h2, .comment .body h3 { font-size: 110% }

.comment-new { margin-bottom: 5px }
.comment-new .button-submit { }


/* Pages */
.topics-list, .topics-full, .comments, .comments-new { display: none }
.page-main .topics-list { display: inherit }
.page-topic .comments { display: inherit }
.page-topic .topics-full { display: inherit }
.page-topic .comments-new { display: inherit }