body { background-color: #F5F5F5; color: #333332; margin: 10px; padding: 0px; font-family: 'Roboto', sans-serif; height: 15000px; overflow: hidden; backface-visibility: hidden; }
body.loaded { height: auto; overflow: auto }

h1, h2, h3, h4 { font-family: 'Roboto', sans-serif; font-weight: normal; margin: 0px; padding: 0px }
h1 { font-size: 32px; line-height: 1.2em; font-weight: bold; letter-spacing: -0.5px; margin-bottom: 5px }
h2 { font-weight: bold; font-size: 1.2em }
h3 { font-size: 24px; margin-top: 1em; margin-bottom: 0.5em }
h4 { font-size: 20px; margin-top: 1em; margin-bottom: 0.5em }

p { margin-top: 0.9em; margin-bottom: 0.9em }
hr { margin: 20px 0px; border: none; border-bottom: 1px solid #eee; margin-left: auto; margin-right: auto; width: 120px; }
small { font-size: 80%; color: #999; }
/*pre { border: solid 1px #e1e4e5; padding: 10px; background-color: #FBFBFB; font-family: Consolas, Monaco, monospace; border-bottom: 2px solid #e1e4e5; line-height: 1em; }*/
code { background-color: #FBFBFB; padding: 3px 4px; border: solid 1px #e1e4e5; font-family: Consolas, Monaco, monospace; font-size: 13px }
pre code {
	border: none; padding: 0px; background-color: transparent; border: none; overflow-x: auto; display: inline-block; max-width: 100%;
	border: solid 1px #e1e4e5; padding: 10px; background-color: #FBFBFB; font-family: Consolas, Monaco, monospace; border-bottom: 2px solid #e1e4e5; line-height: 1em;
}

a { text-decoration: none; color: #DB3207 }
a:hover { border-bottom: 0.1em solid #DDD }
a:active { border-bottom: 0.1em solid #333 }
a.nolink { border-bottom: none }
a.nolink:hover { border-bottom: none }
a.nolink:active { border-bottom: none }


.cancel { font-size: 80%; color: #999; margin-left: 10px; }

.template { display: none !important }

.link:hover { border-bottom: none }
.link:hover .link-url { border-bottom: 0.1em solid #DDD; color: #333 }
.link:hover .icon-link { opacity: 1 }
.link:active .link-url { border-bottom: 0.1em solid #333 }

.user_name { font-weight: bold; color: #666 }
.userbullet { color: #AAA; }

.user_menu { color: black }
.user_menu:hover { text-decoration: none; border: none }
.user_menu:hover .menu_3dot { opacity: 1; transition: none; }
.user_menu .menu_3dot { margin-left: 5px; padding-left: 10px; opacity: 0; transition: all 0.3s; font-weight: lighter !important }

/*.center { margin-left: auto; margin-right: auto; max-width: 800px }*/
.center { max-width: 900px; width: 100%; margin-left: auto; margin-right: auto; }


/* Input */
input.text, textarea {
	line-height: 1.5em; width: 100%; padding: 10px; font-family: 'Roboto', sans-serif; font-size: 16px;
	transition: border 0.3s; border: 2px solid #eee; box-sizing: border-box;
}
textarea { overflow-y: auto }
input.text:focus, textarea:focus { border-color: #5FC0EA; outline: none; background-color: white }


/* Button */

.button {
	padding: 5px 10px; background-color: #DDE0E0; border-bottom: 2px solid #999998; background-position: left center;
	border-radius: 2px ; text-decoration: none; transition: all 0.5s ease-out ; color: #333; display: inline-block
}
.button:hover, .button:active { background-color: #FFF400; border-color: white; border-bottom: 2px solid #4D4D4C; transition: none ; color: inherit }
.button:active { transform: translateY(1px) }

/*.button-delete { background-color: #e74c3c; border-bottom-color: #A83F34; color: white }*/
.button-outline { background-color: white; color: #DDD; border: 1px solid #eee }

.button-delete:hover { background-color: #FF5442; border: 1px solid #FF5442; color: white }
.button-ok:hover { background-color: #27AE60; border: 1px solid #27AE60; color: white }
.button-submit { background-color: #FFF85F;border-bottom: 2px solid #CDBD1E;  padding: 5px 15px; font-size: 15px; line-height: 30px }
.button-small { padding: 5px 10px; font-size: 12px; line-height: 16px }

.button.loading {
	color: rgba(0,0,0,0) !important; background: #999 url(../img/loading.gif) no-repeat center center;
	transition: all 0.5s ease-out ; pointer-events: none; border-bottom: 2px solid #666
}

.topmenu { font-size: 14px; margin-bottom: 14px; background-color: #EEE; padding: 5px; margin-left: -10px; margin-top: -10px; color: #666; }
.topmenu a { color: #333 }
.topmenu.highlight { background-color: #fffede }

/* Head */
.head { float: left; padding-right: 10px; margin-bottom: 10px }
.head .logo {
	background-color: #DB3207; display: inline-block; padding: 13px; margin-left: -10px;
	color: rgba(255,255,255,1); font-size: 20px; text-transform: uppercase; line-height: 1em; font-family: consolas, menlo, monospace
}
.head-user {
	display: inline-block; background-color: white; height: 66px; vertical-align: bottom;
	padding: 12px 15px; box-sizing: border-box; margin-left: -4px; font-size: 13px; line-height: 17px;
}
.head .button { margin-top: 2px }
.head .size { font-size: 8px; background-color: #eee; width: 100px; margin-top: 6px; box-sizing: border-box; text-indent: 21px; text-transform: uppercase; color: #999 }
.head .size-used { position: absolute; background-color: #1abc9c; color: white; overflow: hidden; width: 0px; white-space: nowrap }
.message-big { position: absolute; left: 50%; top: 50%; width: 450px; text-align: center; margin-left: -225px; font-size: 30px; text-shadow: 1px 1px white; color: #AAA; display: none; opacity: 0; transition: all 0.5s }

/* Head more */
.head .more {
	max-height: 24px; overflow: hidden; transition: all 0.3s; padding: 10px; margin-left: -10px;
	box-sizing: border-box; padding-top: 5px; font-family: monospace; text-transform: uppercase;
}
.head .more:hover { max-height: 190px }
.head .more .open { color: #999; margin-bottom: 5px; display: inline-block; cursor: default }
.head .more:hover .open { color: #333 }
.head .more .links { background-color: white; padding: 9px; max-width: 0px; opacity: 1; overflow: hidden; transition: all 0.3s }
.head .more:hover .links { max-width: 70px; opacity: 1 }
.head .more .links a { padding: 3px; display: inline-block; font-size: 14px; border-bottom: 1px solid transparent; }
.head .more .links a:hover { text-decoration: underline; }
.burger { font-size: 18px; line-height: 15px; }

/* Topics */
.topics-title, .topic-title {
	line-height: 1.2em; font-weight: lighter; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; min-height: 60px;
	margin-bottom: 9px; padding-top: 7px; font-size: 40px; padding-left: 22px; display: inline-block; max-width: 100%; box-sizing: border-box
}
.topic-title { font-size: 35px; }
.parent-link { font-size: 19px; font-weight: bold; line-height: 19px }
.topic-new { overflow: hidden; backface-visibility: hidden; margin-bottom: 15px !important }
.topic-new .message { background-color: #fffede; padding: 5px 10px; border: 1px solid #EEE; }

.topic-new-link {
	float: right; margin-top: 33px; margin-right: 1px; color: #AAA; padding: 6px 10px; white-space: nowrap;
	overflow: hidden; background-color: rgba(245,245,245,0.9); z-index: 1; position: relative; transition: all 0.3s
}
.topic-new-link:hover { color: #DB3207; transition: none }

.topic { background-color: white; padding: 15px 25px; margin: 1px; padding-left: 110px; position: relative; }
.topic-group { border-left: 2px solid #DB3207; margin-left: -2px; }
.topic-group:before { content: "\203A"; float: right; padding: 18px 0px; font-size: 25px; color: #999; font-family: Tahoma }
.topic .sticky-title { display: none }
.topic-sticky .sticky-title {
	float: right; font-size: 10px; margin-right: -25px; background-color: #F7DE6E; padding: 2px 5px; color: #827850;
	text-transform: uppercase; letter-spacing: 0.5px; margin-top: 5px; margin-left: 5px; display: block;
}
.topic-sticky { margin-bottom: 5px; margin-top: -4px }
.topic .image { position: absolute; margin-left: -72px; margin-top: 5px; opacity: 0.3 }
.topic .title { padding-bottom: 4px; max-height: 50px; overflow: hidden; -webkit-line-clamp: 2; -webkit-box-orient: vertical; display: -webkit-box; text-overflow: ellipsis; }
.topic .title input { color: #DB3207; font-weight: bold; font-size: 1em }
.topic .owner { font-size: 12px; color: #BBB }
.topic .body { line-height: 1.5em; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap }
.topic .body > :first-child { margin-top: 0px }
.topic .body > :last-child { margin-bottom: 0px }
.topic .link { font-size: 13px; color: #AAA; margin-bottom: 7px;   overflow: hidden; display: block; white-space: nowrap; text-overflow: ellipsis }
.topic .info { font-size: 12px; color: #AAA; margin-bottom: 7px; margin-top: 10px }
.topic .info span { font-weight: bold }
.topic .subtopic { display: none; padding-left: 27px; /*padding-left: 18px; margin-left: 15px;*/ }
/*.topic .subtopic:before { content: "━"; margin-left: -30px; width: 30px; display: inline-block; color: #AAA; }*/
.topic .subtopic .icon {
	display: inline-block; margin-right: 10px; background-size: 16px; background-repeat: no-repeat;
	width: 16px; height: 16px; opacity: 0.4; vertical-align: -3px; margin-left: -26px;
}
.topic .comment-num { font-weight: bold; color: #666; border-bottom: 1px solid #AAA }
.topic .comment-num:hover { border-bottom: 1px solid #333 }
.topic blockquote { border-left: 5px solid #eee; padding: 5px; padding-left: 15px; margin: 10px 0px; background-color: #FBFBFB; }
.topic blockquote p { margin: 5px !important }

.topic .dot { margin-left: -100px; font-size: 40px; line-height: 57px; color: white; position: absolute; }
.topic.visit-none .dot { color: #E2E2E2 }
.topic.visit-newcomment .dot { color: #74BBFE }

.topics { margin-bottom: 60px; opacity: 0; transition: opacity 0.3s }
.topics .body { max-height: 1.5em; }
.topics .body ul { margin: 0px }
.topics-loading {
	background-color: #DB3207; padding: 5px 14px; display: inline-block; color: white;
	position: absolute; left: 50%; top: -30px; transition: all 0.3s
}
.topics-loading img { opacity: 0.5; margin-right: 10px }

.topic-full { border-left: 2px solid #DB3207; display: inline-block; width: 100%; box-sizing: border-box; margin-bottom: 10px; opacity: 0; transition: opacity 0.3s }
.topic-full .body { white-space: normal }


/* Messages */
.comments { margin-bottom: 60px }
.comment { background-color: white; padding: 15px 25px; margin: 1px; border-bottom: 1px solid #EEE; backface-visibility: hidden }
.comment .user_name { font-size: 14px }
.comment .added { color: #AAA }
.comment .menu_3dot { float: right; padding: 0px 5px }
.comment .menu_3dot:hover { border: none; color: black }
.comment .reply, .comment .menu_3dot { color: #CCC; opacity: 0; transition: opacity 0.3s; position: relative; }
.comment:hover .reply { opacity: 1 }
.comment:hover .menu_3dot { opacity: 1 }
.comment .reply .icon { opacity: 0.3 }
.comment .reply:hover, .comment .mute:hover { border-bottom: none; color: #666 }
.comment .reply:hover .icon, .comment .mute:hover .icon { opacity: 1 }
.comment .info { font-size: 12px; color: #AAA; margin-bottom: 7px }
.comment .info .score { margin-left: 5px }
.comment .body { line-height: 1.5em }
.comment .body p { margin-top: 0.5em; margin-bottom: 0.5em; word-wrap: break-word; backface-visibility: hidden }
.comment .body.editor { margin-top: 0.5em !important; margin-bottom: 0.5em !important }
.comment .body h1, .comment .body h2, .comment .body h3 { font-size: 110% }
.comment .body blockquote { padding: 1px 15px; border-left: 2px solid #E7E7E7; margin: 0px; margin-top: 30px }
.comment .body blockquote:first-child { margin-top: 0px }
.comment .body blockquote p { margin: 0px; color: #999; font-size: 90% }
.comment .body blockquote a { color: #333 }
.comment .body table { border-collapse: collapse; margin-bottom: 10px }
.comment .body td, .comment .body th { padding: 5px 10px; border: 1px solid #EEE; border-collapse: collapse; text-align: left }

.comment-new { margin-bottom: 5px }
.comment-new .button-submit { }

.comment-nocert textarea { opacity: 0.5; pointer-events: none }
.comment-nocert .info { opacity: 0.1; pointer-events: none }
.comment-nocert .button-submit-form { opacity: 0.1; pointer-events: none }
.comment-nocert .button.button-certselect { display: inherit; opacity: 1; pointer-events: default }
.button.button-certselect {
	position: absolute; left: 50%; white-space: nowrap; transform: translateX(-50%); z-index: 99;
	margin-top: 13px; background-color: #007AFF; color: white; border-bottom-color: #3543F9; display: none
}
.button.button-certselect:hover { background-color: #3396FF; color: white; border-bottom-color: #5D68FF; }
.button.button-certselect:active { position: absolute; transform: translateX(-50%) translateY(1px); top: auto; }

.user-size { font-size: 11px; margin-top: 6px; box-sizing: border-box; text-transform: uppercase; display: inline-block; color: #AAA }
.user-size-used { position: absolute; color: #B10DC9; overflow: hidden; width: 40px; white-space: nowrap }
.user-size-warning {
	position: absolute; right: 0px; font-size: 13px; line-height: 13px; display: none;
	color: #999; padding: 7px; white-space: nowrap; margin-top: -3px; margin-right: -8px;
}

/* Score */
.score {
	border: 1px solid #eee; margin-right: 5px; padding: 2px 7px; border-radius: 10px; color: #AAA; background-position: left center; font-weight: bold;
	display: inline-block; height: 1.2em; overflow: hidden; vertical-align: -0.5em; line-height: 7px; transition: background-color 0.3s; height: 20px; box-sizing: border-box
}
.score-active, .score-inactive { transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); display: inline-block; margin-top: 3px }
.score-active { display: block; margin-top: 5px }
.score.active { background-color: #2ecc71; color: white }
.score.loading {
	color: rgba(255,255,255,0); background: #2ecc71 url(../img/loading.gif) no-repeat center center;
	transition: background 0.5s ease-out; pointer-events: none; border: 1px solid #2ecc71
}

.score.active .score-inactive, .score:hover .score-inactive { transform: translateY(-14px); opacity: 0.5 }
.score.active .score-active, .score:hover .score-active { transform: translateY(-14px) }
.score:hover, .score.active { border: 1px solid #2ecc71; }

.score:active {  border: 1px solid #AAA !important; transform: translateY(1px) }


/* Pages */
.topics-list, .topics-full, .comments, .comments-new { display: none }
.page-main .topics-list { display: inherit }
.page-topics .topics-list { display: inherit }
.page-topic .comments { display: inherit }
.page-topic .topics-full { display: inherit }
.page-topic .comments-new { display: inherit }


.topics-more, .comments-more {
	background-color: transparent; border: 1px solid #EEE; display: none; transition: all 0.3s; margin-top: -60px;
	padding: 10px 0px; border-radius: 2px; width: 100%; text-align: center; color: #8C8C8C; box-sizing: border-box;
}
.topics-more:hover, .comments-more:hover { border: 1px solid #999; background-color: #FFF400; transition: none; border: 1px #FFF400 solid; }
.topics-more:active, .comments-more:active { position: relative; top: 1px }


@media only screen and (max-width: 800px) {
 .topics-title { font-size: 24px; display: block; margin-bottom: 3px; margin-top: -2px; min-height: auto; padding-left: 10px; }
 .feed-follow-list { margin-left: 8px; }
 .topic-new-link { margin-top: 0px; }
 .started { display: block;  position: absolute; right: 10px; bottom: 5px; }
}

@media screen and (max-width: 600px) {
 .topic .started, .topic .dot, .topic .image { display: none; }
 .topic .body, .topic .title, .topic .link, .topic .subtopic, .topic .info { margin-left: -100px; margin-right: -10px; }
 .page-main .topic-group::before { float: right; position: absolute; right: 10px; }
 html, body, p, th, td, li { font-size: medium !important; }
 .bottombar { left: 0px; right: 0px; overflow: auto; }
}
